<%- include('partials/header') %>


<div class="starting-page">
  <div class="starting-page-container">
    <img class="logo" src="images/logo.png">
    <h1 class="app-name">BookNotes Hub</h1>
    <p class="app-text">"Write in-depth book reviews and insightful notes at BookNotes Hub – your ultimate destination for literary exploration."</p>
    <hr>
    <div class="starting-page-buttons">
        <a class="register-button" href="/register" role="button">Register</a>
        <a class="login-button" href="/login" role="button">Login</a>
    </div>
   

  </div>
</div>


